
<body>
    
    <h1>Dominican Republic</h1>
    <app-bottom></app-bottom>
    <ol >
        <img src="../assets/OIP.jpg">
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Azua">Azua</a></li>
        <ul>
            <li> Senador: Lia Ynocencia Diaz </li>
            <li> Población: 128,264 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/70px-Escudo_de_la_provincia_de_Azua_de_Compostela.jpg">
            </ul> 
    
        <li><a href="https://es.wikipedia.org/wiki/Bahoruco">Bahoruco</a></li>
        <ul>
        <li> Senador: Melania Salvador Jimenez </li>
            <li> Población: 111,269 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Bahoruco.png">
            </ul> 
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona">Barahona</a></li>
        <ul>
            <li> Senador: José Manuel del Castillo Saviñón </li>
            <li> Población: 226,898 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/75px-Escudo_de_la_Provincia_Barahona.svg.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Dajabón">Dajabón</a></li>
        <ul>
            <li> Senador: David Sosa </li>
            <li> Población: 67,887 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Dajabón.png">
            </ul>        
    
        <li><a href="https://es.wikipedia.org/wiki/Duarte_(provincia)">Duarte</a></li>
        <ul>
            <li> Senador: Franklin Romero Morillo </li>
            <li> Población: 384,789 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Duarte.png">
            </ul>
            
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
        <ul>
            <li> Senador: Santiago Jose Zorrilla</li>
            <li> Población: 115,889 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_El_Seibo.svg.png">
            </ul>
            
        <li><a href="https://es.wikipedia.org/wiki/El%C3%ADas_Piña">Elias Piña</a></li>
        <ul>
            <li> Senador: Aris Yván Lorenzo Suero</li>
            <li> Población: 70,589 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Elías_Piña.png">
            </ul>
            
        <li><a href="https://es.wikipedia.org/wiki/Espaillat">Espaillat</a></li>
        <ul>
            <li> Senador: Carlos Gómez </li>
            <li> Población: 390,478</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Espaillat.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor">Hato Mayor</a></li>
        <ul>
            <li> Senador: Cristobal Castillo </li>
            <li> Población: 89,578</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Hato_Mayor.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal_(provincia)">Hermanas Mirabal</a></li>
        <ul>
            <li> Senador: Luis Canaán</li>
            <li> Población: 103,974 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Hermanas_Mirabal.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Independencia_(República_Dominicana)">Independencia</a></li>
        <ul>
            <li> Senador: Valentín Medrano</li>
            <li> Población: 54,785 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Independencia.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/La_Altagracia">La Altagraci</a>a</li>
        <ul>
            <li> Senador: Virgilio Cedano</li>
            <li> Población: 335,677 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_La_Altagracia.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/La_Romana_(provincia)">La Romana</a></li>
        <ul>
            <li> Senador: Iván Fernández</li>
            <li> Población: 330,587 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_La_Romana.svg.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega">La Vega</a></li>
        <ul>
            <li> Senador: Ramón Durán</li>
            <li> Población: 420,478 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_La_Vega.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez_(provincia)">María Trinidad Sanchez</a></li>
        <ul>
            <li> Senador: Alexis Yeb</li>
            <li> Población: 140,784</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_María_Trinidad_Sánchez.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Monseñor_Nouel_(provincia)">Monseñor Nouel</a></li>
        <ul>
            <li> Senador: Héctor Acosta</li>
            <li> Población: 201,474</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Monseñor_Nouel.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Montecristi_(provincia)">Monte Criti</a></li>
        <ul>
            <li> Senador: Ramón Gómez</li>
            <li> Población: 135,710</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Monte_Cristi.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Plata">Monte Plata</a></li>
        <ul>
            <li> Senador: Lenin López</li>
            <li> Población: 200,454</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Monte_Plata.png"> 
            </ul>
            
        <li><a href="https://es.wikipedia.org/wiki/Pedernales_(provincia)">Pedernales</a></li>
        <ul>
            <li> Senador: Dionis Carrasco</li>
            <li> Población: 38,941</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Pedernales.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Peravia">Peravia</a></li>
        <ul>
            <li> Senador: Milcíades Franjul</li>
            <li> Población: 298,747</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Peravia.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata">Puerto Plata</a></li>
        <ul>
            <li> Senador: Jose Ignacio Paliza</li>
            <li> Población: 329,419 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Puerto_Plata.svg.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Samaná">Samaná</a></li>
        <ul>
            <li> Senador: Pedro Catrain</li>
            <li> Población: 108,179 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Samaná.svg.png"> 
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/San_Cristóbal_(provincia)">San Cristóbal</a></li>
        <ul>
            <li> Senador:Franklin Rodríguez</li>
            <li> Población: 275,232 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_San_Cristóbal.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_José_de_Ocoa">San José de Ocoa</a></li>
        <ul>
            <li> Senador:José Antonio Castillo</li>
            <li> Población: 21,148 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_San_José_de_Ocoa.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(República_Dominicana)">San Juan</a></li>
        <ul>
            <li> Senador:Félix Bautista</li>
            <li> Población: 169,032 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_San_Juan.svg.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
        <ul>
            <li> Senador:Franklin Pena Villalona</li>
            <li> Población: 195,307</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_San_Pedro_de_Macorís.png">
            </ul>
            
        <li><a href="https://es.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_(provincia)">Sánchez Ramirez</a></li>
        <ul>
            <li> Senador:Ricardo de los Santos</li>
            <li> Población: 248.807 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(República_Dominicana)">Santiago</a></li>
        <ul>
            <li> Senador:Eduardo Estrella</li>
            <li> Población: 1,543,362 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Santiago.svg.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_(provincia)">Santiago Rodrígue</a>z</li>
        <ul>
            <li> Senador:Casimiro Marte</li>
            <li> Población: 57,476</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Santo_Domingo_(provincia)">Santo Domingo</a></li>
        <ul>
            <li> Senador:Antonio Taveras Guzmán</li>
            <li> Población: 1,049,567</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_de_la_Provincia_Santo_Domingo.png">
            </ul>
    
        <li><a href="https://es.wikipedia.org/wiki/Valverde_(República_Dominicana)">Valverde</a></li>
        <ul>
            <li> Senador:Martín Nolasco Vargas</li>
            <li> Población: 21,026</li>
            <li> Escudo de brazo:</li>
            <img src="../assets/Escudo_del_Municipio_Mao.svg.png">
            </ul>
        
        <li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional_(República_Dominicana)" id="bottom">Distrito Nacional</a></li>
        <ul>
            <li> Senador: Faride Rafull </li>
            <li> Población: 1,484,789 </li>
            <li> Escudo de brazo:</li>
            <img src="../assets/distrito nacional.png">
            </ul>    
            
    </ol>
    <app-top></app-top>
    </body>